.footerPages {

    background-color: #d6a357;

}

.formPages {

    display: inline-block;
    border: solid #000000 2px;

    padding: 10px;

    margin-left: 200px;
    margin-bottom: 20px;

}

.footer__p-title {

    display: inline-block;
    
    font-size: 30px;

    margin: 20px;
}

.footer__pages-p {

    width: 400px;
    
    font-size: 25px;
    font-style: italic;
    
    padding-bottom: 5px;

}